
.text-indented{
    text-indent: 5%;
}
th.w-auto,td.w-auto{
    white-space: nowrap;
    width: 1px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}
footer{
    min-height: 5vh;
    margin-top: auto;
}